# 03.- RECIPES

At this point, we need to generate the specific DataFrames to be plotted.

To do this, let's cook a few recipes!

___
### IMPORTS

In [1]:
import pickle

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

%matplotlib inline

sns.set(color_codes = True)

In [2]:
from funcs_data import nameof, recipe, recipe_values

In [38]:
# This cell only needs to be executed to update funcs_driver
# and funcs_scrapping after them have been imported

# %run funcs_data
# %run funcs_driver.py
# %run funcs_scrapping.py

In [5]:
foods = pd.read_csv('./data/foods_refined.csv', index_col='Unnamed: 0')
foods.head()

,foodname_ESP,foodname_ENG,energy,fats,prot,water,fiber,carbs,m_unsat_fats,p_unsat_fats,...,potassium,magnesium,sodium,phosphorus,iodide,selenium,zinc,unsat_fats,salt,group
0,aceite de algodón,cotton oil,888.0,100.0,0.0,0.0,0.0,0.0,17.80,51.90,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,69.70,0.0,fats_oils
1,aceite de cacahuete,peanut oil,887.0,99.9,0.0,0.1,0.0,0.0,47.80,28.50,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,76.30,0.0,fats_oils
2,aceite de coco,coconut oil,888.0,100.0,0.0,0.0,0.0,0.0,4.96,0.77,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.73,0.0,fats_oils
3,aceite de colza,rape oil,888.0,100.0,0.0,0.0,0.0,0.0,65.30,28.01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.31,0.0,fats_oils
4,aceite de germen de trigo,wheat germ oil,887.0,99.9,0.0,0.1,0.0,0.0,15.10,61.70,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,76.80,0.0,fats_oils

In [6]:
nutritional_facts = list(foods.columns[2:-1])
nutritional_facts

['energy',
 'fats',
 'prot',
 'water',
 'fiber',
 'carbs',
 'm_unsat_fats',
 'p_unsat_fats',
 'sat_fats',
 'palm_acid',
 'chol',
 'A',
 'D',
 'E',
 'B9',
 'B3',
 'B2',
 'B1',
 'B12',
 'B6',
 'C',
 'calcium',
 'iron',
 'potassium',
 'magnesium',
 'sodium',
 'phosphorus',
 'iodide',
 'selenium',
 'zinc',
 'unsat_fats',
 'salt']

___
### CREATING RECIPES

Let's cook a basic dish of my diet, using the official recipe that you can find in  
[Calleja del Salmorejo Cordobés](#https://www.google.com/maps/place/Calleja+del+Salmorejo+Cordob%C3%A9s/@37.8781644,-4.7819311,15z/data=!4m5!3m4!1s0x0:0x3c4e7bc4274ecc61!8m2!3d37.8781644!4d-4.7819311), Córdoba, Spain

<img src="https://4.bp.blogspot.com/-EwcoTIrUYT0/V3-mmOFOxBI/AAAAAAAAHQA/b-Ukv-QFr682cM7E3MfTiqHoNfUc8mFHACLcB/s1600/IMG_2425.JPG" alt="drawing" width="300"/>

In [ ]:
salmorejo = recipe(foods)

In [41]:
salmorejo_values = recipe_values(salmorejo, foods)

In [ ]:
entera_con_tomate = recipe(foods)

In [44]:
entera_con_tomate_values = recipe_values(entera_con_tomate, foods)

In [ ]:
porridge = recipe(foods)

In [46]:
porridge_values = recipe_values(porridge, foods)

To finish this notebook, we'll use pickle to export recipes

In [48]:
with open('./data/recipes', 'wb') as f:
    pickle.dump(salmorejo_values, f)
    pickle.dump(entera_con_tomate_values, f)
    pickle.dump(porridge_values, f)